<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск соперника</title>
    <link href="../css/expectation.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="search-container">
        <h1>Поиск соперника</h1>
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <button id="exitButton" class="game-button">Home</button>
    <script src="../expectation.js"></script>
</body>
</html>
