<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racer's Quest</title>
    <link rel="stylesheet" href="../css/gameOnlineStyle.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
</head>
<body>
<!-- Game canvas -->
<div class="canvases">
    <!--    <button id="start-game">Start game</button>-->
    <canvas id="canvasLocal" width="400" height="500"></canvas>
    <div id="divider"></div>
    <canvas id="canvasRemote" width="400" height="500"></canvas>
    
</div>
<button id="exitButton" class="game-button">Home</button>
<script src="../gameOnline.js"></script>
</body>
</html>