<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racer's Quest</title>
    <link rel="stylesheet" href="../css/gameStyle.css">
</head>
<body>
<div class="white-overlay1"></div>
<!-- Game canvas -->
<canvas id="canvas" width="400" height="500"></canvas>
<button id="exitButton" class="game-button">Home</button>
<script src="../gameOnline.js"></script>
</body>
</html>
