<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racer's Quest</title>
    <link rel="stylesheet" href="../css/gameStyle.css">
</head>
<body>
<!-- элемент для отображения рекорда -->
<!-- элемент для отображения рекорда -->
<div id="recordDisplay"></div>
<div class="white-overlay1"></div>
<div class="white-overlay2"></div>
<!-- Game canvas -->
<canvas id="canvas" width="400" height="500"></canvas>

<!-- Restart button -->
<button id="exitButton" class="game-button">Home</button>
<button id="restartButton" class="game-button">Перезапуск</button>
<script src="../script.js"></script>
</body>
</html>