<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racer's Quest - Home</title>
    <!-- Ссылки на стили и скрипты для главного меню -->
    <link rel="stylesheet" href="../css/homeStyle.css">
</head>
<body>
<!-- Главное меню -->
<div class="main-menu">
    <h1>Racer's Quest</h1>
    <div class="button-container">
        <button id="singlePlayerButton" class="game-button">Одиночная игра</button>
        <button id="onlineButton" class="game-button">Онлайн</button>
        <button id="leaderboardButton" class="game-button">Таблица лидеров</button>
    </div>
</div>
<!-- Ссылка на скрипт для обработки главного меню -->
<script src="../home.js"></script>

</body>
</html>