<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Occupied name</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="form-container">
        <h2>User already exists. Please choose a different username.</h2>
        <p><a class="link" href="/signup">Back to signup</a></p>
    </div>
    
</body>
</html>
