body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00d2ff, #928dab); /* Фон по бокам */
}
  
.content-wrapper {
    width: 100%;
    max-width: 1200px; /* Максимальная ширина контента */
    height: auto; /* Или 100vh, если вы хотите, чтобы контейнер занимал весь экран */
    margin: 0 auto; /* Центрирование контента */
    position: relative; /* Для позиционирования дочерних элементов */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрирование содержимого по вертикали */
}

#canvas {
    width: 400px; /* Фиксированная ширина canvas */
    height: 500px; /* Высота canvas */
    margin-top: 50px; 
}

/* Стили для белой полосы, с фиксированной шириной */
.white-overlay1, .white-overlay2 {
    position: absolute;
    width: 400px; /* Фиксированная ширина полос */
    background-color: white;
    z-index: 1;
}

.white-overlay1 {
    top: 20px; /* Вы можете настроить это значение */
    height: 30px; /* Фиксированная высота полосы */
}

.white-overlay2 {
    bottom: -38px; /* Вы можете настроить это значение */
    height: 38px; /* Фиксированная высота полосы */
}
/* Адаптивное позиционирование и размеры для элементов интерфейса */
#exitButton, #restartButton {
    position: absolute;
    font-size: 1.5vh; /* Относительный размер шрифта */
}


#recordDisplay {
    top: 20px; /* Позиционирование относительно верхнего края */
    left: 40%; /* Центрирование элемента */
    transform: translateX(-50%);
    color: #928dab;
    z-index:2 ;
    position: absolute;
    font-size: 3vh;
}
/* Styling for game buttons */
.game-button {
    font-size: 2vw;
    padding: 1vh 2vw;
    margin: 1vh;
    cursor: pointer;
    background-color: #778899;
    color: white;
    border: none;
    border-radius: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Styling for the exit button */
#exitButton {
    top: 12.5px; /* Позиционирование относительно верхнего края */
    left: 62%; /* Центрирование элемента */
    transform: translateX(-50%);
    width: 100px; /* Относительная ширина кнопки */
    height: 30px; /* Относительная высота кнопки */
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

/* Styling for the restart button */
#restartButton {
    top: 542px; /* Позиционирование относительно верхнего края */
    left: 50%; /* Центрирование элемента */
    transform: translateX(-50%);
    width: 200px; /* Относительная ширина кнопки */
    height: 40px; /* Относительная высота кнопки */
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}