/* Styling for the entire page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #00d2ff, #928dab);
    color: #fff;
}

/* Styling for the start screen elements */
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


/* Styling for game buttons */

.game-button {
    font-size: 24px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #778899;
    color: white;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Styling for the game canvas */
#canvas {
    display: none; /* Скрыть игровое окно по умолчанию */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the restart button */
#restartButton {
    display: none;
    position: absolute;
    top: calc(50% + 250px); /* Подвинуть кнопку перезапуска вниз от центра игрового окна */
    left: 50%;
    transform: translateX(-50%);
}