body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00d2ff, #928dab);
}

.canvas-wrapper {
    position: relative; /* Для позиционирования белых полос */
    width: 400px; /* Ширина совпадает с шириной canvas */
    margin: 20px; /* Отступы для отделения игровых зон */
}

.white-overlay {
    position: absolute;
    width: 100%; /* Белые полосы будут шириной с canvas */
    height: 30px; /* Высота белых полос */
    background-color: white;
    z-index: 1;
}

.white-overlay-top {
    top: -30px; /* Верхняя полоса */
}

.white-overlay-bottom {
    bottom: -26.5px; /* Нижняя полоса */
}

.game-area {
    display: flex;
    justify-content: center; /* Центрирует игровые зоны по горизонтали */
}

.labels {
    position: absolute;
    top: 520px; /* Позиция под игровыми зонами */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around; /* Равномерно распределяет метки */
    z-index: 2;
}

.left-label, .right-label {

    font-size: 3vh;
     color: #928dab;
    margin: 0 175px;
    white-space: nowrap;
    overflow: hidden;
    
    
}
#exitButton {
    position: absolute;
    font-size: 1.5vh; /* Относительный размер шрифта */
}
/* Styling for game buttons */
.game-button {
    font-size: 2vw;
    padding: 1vh 2vw;
    margin: 1vh;
    cursor: pointer;
    background-color: #778899;
    color: white;
    border: none;
    border-radius: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Styling for the exit button */
#exitButton {
    top: 550px; /* Позиционирование относительно верхнего края */
    left: 50%; /* Центрирование элемента */
    transform: translateX(-50%);
    width: 120px; /* Относительная ширина кнопки */
    height: 30px; /* Относительная высота кнопки */
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}