/* Styling for the entire page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #00d2ff, #928dab);
    color: #fff;
}

/* Стили для белой полосы */
.white-overlay1 {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 30px; /* Высота вашей белой полосы */
    background-color: white;
    z-index: 1; /* Установка z-index ниже заднего фона */
}
.white-overlay2 {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 57px; /* Высота вашей белой полосы */
    background-color: white;
    z-index: 1; /* Установка z-index ниже заднего фона */
}

/* Стили для кнопки exitButton */
#exitButton {
    display: none;
    position: absolute;
    top: calc(50% - 285px);
    transform: translateX(235%);
    font-size: 12px;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 0px; /* Выравнивание текста по вертикали внутри кнопки */
    text-indent: -15px; /* Смещение текста влево */
    z-index: 2; /* Установка z-index выше белой полосы */
}

/* Styling for the start screen elements */
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
#recordDisplay {
    color:#928dab;
    position: absolute;
    top: calc(50% - 268px);
    transform: translateX(-135%);
    font-size: 24px;
    z-index: 2; /* Установка z-index выше белой полосы */
}/* Отрицательное значение для смещения влево */




/* Styling for game buttons */

.game-button {
    font-size: 24px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #778899;
    color: white;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Styling for the game canvas */
#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the restart button */
#restartButton {
    display: none;
    position: absolute;
    top: calc(50% + 235px); /* Подвинуть кнопку перезапуска вниз от центра игрового окна */
    transform: translateX(0%);
    width: 150;
    text-align: center;
    height:50;
    font-size: 18;
    z-index: 2;
}

/* Стили для текста подтверждения готовности */
.start-screen p {
    font-size: 28px; /* Измените размер на нужный вам */
}
