/* Styling for the entire page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #00d2ff, #928dab);
    color: #fff;
}
/* Стили для кнопки exitButton */
#exitButton {
    display: none;
     position: absolute;
     top: 67%; /* Расположить кнопку по вертикали в центре родительского элемента */
     left: 49%; /* Расположить кнопку по горизонтали в центре родительского элемента */
    transform: translate(-50%, -50%); /* Сдвиг кнопки на 50% ширины и 50% высоты своего родительского элемента */
    font-size: 20px;
     width: 100px;
    height: 40px;
     text-align: center;
    line-height: 0px; /* Выравнивание текста по вертикали внутри кнопки */
     text-indent: -13px;
     z-index: 2;
} 

/* Styling for the start screen elements */
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
/* Styling for game buttons */

.game-button {
    font-size: 24px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    background-color: #778899;
    color: white;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #divider {
    height: 510px;
  width: 40px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -77%);
  }
#canvasRemote {
    /* другие стили */
    left: 5%; /* Или значение, которое вы считаете подходящим */
    transform: translateX(5%); /* Это значение может потребоваться изменить, чтобы подвинуть элемент вправо */
}
#canvasLocal {
    /* другие стили */
    left: -5%; /* Или значение, которое вы считаете подходящим */
    transform: translateX(-5%); /* Это значение может потребоваться изменить, чтобы подвинуть элемент вправо */
} 
/* Стили для текста подтверждения готовности */
.start-screen p {
    font-size: 28px; /* Измените размер на нужный вам */
}
.label {
    position: absolute;
    color: #928dab; /* Or any color you want for the text */
    font-size: 26px;
     z-index: 2; 
     top: 58%;
    /* Additional styling */
}
.left-label {
    transform: translate(-30%, 185%);
    left: 34%;
     /* Adjust as necessary */
}
.right-label {
    transform: translate(30%, 185%);
    left: 60%;
}
.white-stripe {
    height: 40px;
    width: 850px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 290%);
    z-index: 1;
}
